In [1]:
# MEASURE OF CENTRAL TENDENCY

In [2]:
# MEAN

In [3]:
age = [21,45,74,5,65,74,67,54]

In [4]:
import numpy as np

In [5]:
np.mean(age)

50.625

In [6]:
weight = [45,78,96,74,85,45,45,74,23,41,63]

In [7]:
np.mean(weight)

60.81818181818182

In [9]:
import seaborn as sns

In [14]:
df = sns.load_dataset("tips")

In [15]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [16]:
np.mean(df["total_bill"])

19.78594262295082

In [17]:
# MEDIAN

In [18]:
age = [21,45,74,5,65,74,67,54]

In [19]:
np.median(age)

59.5

In [20]:
age = [21,45,74,5,65,74,67,54,789]

In [21]:
np.mean(age)

132.66666666666666

In [22]:
np.median(age)

65.0

In [23]:
# MODE

In [24]:
from scipy import stats

In [25]:
stats.mode(age)

/tmp/ipykernel_110/2474845003.py:1: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  stats.mode(age)

ModeResult(mode=array([74]), count=array([2]))